fastapi
uvicorn
deeppavlov
torch
transformers
requests
beautifulsoup4
selenium
urllib3>=2.0.0
chardet>=4.0.0
webdriver-manager
scikit-learn
cloudscraper
fake_useragent
selenium_stealth
undetected-chromedriver
seleniumbase